/* Empty. Add your own CSS if you like */
body{
    background-color: #9C9915;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-top: 15px;
}

iframe{
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}